
.mat-container {
  min-height: 100%;
  background-color: rgb(147, 139, 147);
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  display: flex;
}

.mat-drawer {
  background-color: rgb(147, 139, 147);
  padding: 0;
}

.mat-drawer-side {
  border:none;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
}

li a.active {
  background-color: #04AA6D;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}


li a:hover {
  color: rgb(193, 131, 185);
  font-weight: 700;
}

.nav-item {
  text-align: center;
}


