<mat-drawer-container class="mat-container">
  <mat-drawer mode="side" opened class="mat-drawer">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a [routerLink]="['task-1']">1st exercise</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['task-2']">2nd exercise</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['sticky']">Sticky notes</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['accordion']">Accordion</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['grid']">Grid example</a>
      </li>
      <li class="nav-item" (click)="signout()">
        <button mat-raised-button color="warn" class="my-3">Sign Out</button>
      </li>
    </ul>
  </mat-drawer>
</mat-drawer-container>
