

.number-box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    flex-direction: column;
}


img {
    max-width:300px;
}

.first-layer {
    background-color: rgb(252, 222, 175);
    .first-box {
        display:grid;

    }
}

.second-layer {
    background-color: rgb(173, 232, 255);
}

.third-layer {
    background-color: rgba(210,173,255,1);
}

