<div class="container">
  <div class="row first-layer m-3">
    <div class="col-6 number-box">
      <div class="">1</div>
    </div>

    <div class="col-6 p-3 first-box">
      <div class="a img"></div>
      <div class="b img"></div>
      <div class="c img"></div>
    </div>
  </div>

  <div class="row second-layer m-3">
    <div class="col-6 number-box">
      <div class="">2</div>
    </div>

    <div class="col-6 p-3 second-box">
      <div class="d img"></div>
      <div class="e img"></div>
      <div class="f img"></div>
      <div class="g img"></div>
    </div>
  </div>

  <div class="row third-layer m-3">
    <div class="col-6 number-box">
      <div class="">3</div>
    </div>

    <div class="col-6 p-3 third-box">
      <div class="h img"></div>
      <div class="i img"></div>
      <div class="j img"></div>
      <div class="k img"></div>
      <div class="l img"></div>
      <div class="m img"></div>
    </div>
  </div>
</div>
