
<div class="container">

    <div class="row first-layer m-3">
        <div class="col-6 number-box ">
            <div class="">1</div>
        </div>

        <div class="col-6 p-3 first-box">
            <img src="assets/unicorn.png" alt="unicorn">
            <img src="assets/unicorn.png" alt="unicorn">
            <img src="assets/unicorn.png" alt="unicorn">
        </div>
    </div>


      
            <div class="row second-layer m-3">
                <div class="col-6 number-box ">
                    <div class="">2</div>
                </div>
    
                <div class="col-6 p-3">
                    <img src="assets/unicorn.png" alt="unicorn">
                    <img src="assets/unicorn.png" alt="unicorn">
                    <img src="assets/unicorn.png" alt="unicorn">
                    <img src="assets/unicorn.png" alt="unicorn">
                </div>
            </div>
        
         
                <div class="row third-layer m-3">
                    <div class="col-6 number-box ">
                        <div class="">3</div>
                    </div>
        
                    <div class="col-6 p-3">
                        <img src="assets/unicorn.png" alt="unicorn">
                        <img src="assets/unicorn.png" alt="unicorn">
                        <img src="assets/unicorn.png" alt="unicorn">
                        <img src="assets/unicorn.png" alt="unicorn">
                        <img src="assets/unicorn.png" alt="unicorn">
                        <img src="assets/unicorn.png" alt="unicorn">
                    </div>
                </div>


</div>
        




