
<div class="row mx-2">
      <div class="col-6">
      <label class="label mt-2">Add note</label>
      <input
        type="text"
        placeholder="type..."
        class="form-control"
        id="stickyNote"
        #stickyNoteInput
        [(ngModel)]="stickyNote"
      />
      <button class="btn btn-primary my-3" (click)="submit(stickyNoteInput.value)" [disabled]="stickyNoteInput.value == ''">
        Submit
      </button>
    </div>

  <div class="col-6">
    <div class="row m-4 ">
      <p class="col-12">Align Notes</p>
    </div>
    <div class="row m-4 ">
      <img src="./../../../../assets/align-center.png" alt="align-center" class="img-fluid " (click)="onSetAlignText('start')">
      <img src="./../../../../assets/justify-center.png" alt="justify-center" class="img-fluid" (click)="onSetAlignText('center')">
      <img src="./../../../../assets/align-right.png" alt="align-right" class="img-fluid" (click)="onSetAlignText('end')">
    </div>
    <div class="row m-4 ">
      <img src="./../../../../assets/align-center.png" alt="align-center" class="img-fluid " (click)="onSetAlignTextVert('start')">
      <img src="./../../../../assets/justify-center.png" alt="justify-center" class="img-fluid" (click)="onSetAlignTextVert('center')">
      <img src="./../../../../assets/align-right.png" alt="align-right" class="img-fluid" (click)="onSetAlignTextVert('end')">
      <img src="./../../../../assets/align-left.png" alt="align-left" class="img-fluid" (click)="onSetAlignTextVert('space-between')">
    </div>
  </div>




