.form-control {
  width: auto;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width:76vw; 
  height:76vh;
}

.flex-box {
  background-color: rgb(239, 62, 195);
  width: 100px;
  height: 100px;
  box-shadow: 10px 5px 5px gray;
  
}

img {
  cursor:pointer;
  width:50px;
}

.test{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width:76vw; 
  height:76vh;
}