<div class="container-form">
  <div class="row mx-2" [formGroup]="form">
    <div class="col-6">
      <label class="label mt-2">Add note</label>
      <input
        type="text"
        placeholder="type..."
        class="form-control"
        id="text"
        formControlName="text"
      />
      <button class="btn btn-primary my-3" (click)="addNote()">Add</button>
      <button class="btn btn-danger my-3 mx-2" (click)="deleteAll()">
        Delete all
      </button>
    </div>
  </div>

  <div class="col-6 align">
    <p>Align Notes Horizontally</p>
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary">
        <input
          type="radio"
          name="options"
          id="option1"
          (click)="onSetAlignText('start')"
        />
        <img
          src="assets/align-left.png"
          alt="align-left"
          class="img-fluid"
        />
      </label>
      <label class="btn btn-primary">
        <input
          type="radio"
          name="options"
          id="option2"
          (click)="onSetAlignText('center')"
        />
        <img
          src="assets/align-right.png"
          alt="align-right"
          class="img-fluid"
        />
      </label>
      <label class="btn btn-primary">
        <input
          type="radio"
          name="options"
          id="option3"
          (click)="onSetAlignText('end')"
        />
        <img
          src="assets/align-center.png"
          alt="align-center"
          class="img-fluid"
        />
      </label>
      <label class="btn btn-primary">
        <input
          type="radio"
          name="options"
          id="option4"
          (click)="onSetAlignText('space-between')"
        />
        <img
          src="assets/justify-center.png"
          alt="align-justify"
          class="img-fluid"
        />
      </label>
    </div>
  </div>
  <div class="col-6 align">
    <p>Align Notes Vertically</p>
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary">
        <input
          type="radio"
          name="optionsa"
          id="option1a"
          (click)="onSetAlignTextVert('start')"
        />
        <img
          src="assets/align-left.png"
          alt="align-left"
          class="img-fluid"
        />
      </label>
      <label class="btn btn-primary">
        <input
          type="radio"
          name="optionsa"
          id="option2a"
          (click)="onSetAlignTextVert('center')"
        />
        <img
          src="assets/align-right.png"
          alt="align-right"
          class="img-fluid"
        />
      </label>
      <label class="btn btn-primary">
        <input
          type="radio"
          name="optionsa"
          id="option3a"
          (click)="onSetAlignTextVert('end')"
        />
        <img
          src="assets/align-center.png"
          alt="align-center"
          class="img-fluid"
        />
      </label>
      <label class="btn btn-primary">
        <input
          type="radio"
          name="optionsa"
          id="option4a"
          (click)="onSetAlignTextVert('space-between')"
        />
        <img
          src="assets/justify-center.png"
          alt="align-justify"
          class="img-fluid"
        />
      </label>
    </div>
  </div>
</div>
<div class="notes-container" [ngStyle]="{
  'justify-content': alignTextService.alignTextHor,
  'align-content': alignTextService.alignTextVert
}">
  <div

    *ngFor="let n of editStickysService.notes"
  >
    <div class="iconbox">
      <div class="col-1 icon" [routerLink]="['/', 'edit-note', n.id]">✏️</div>
      <div class="col-1 icon" (click)="deleteNotes(n)">❌</div>
    </div>

    <div class="notes">
      {{ n.text }}
    </div>
  </div>
</div>
