.form-container {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

::-ms-reveal {
  display: none;
}
