.notes-container {
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.notes {
  width: 200px;
  min-height: 200px;
  padding: 10px;
  margin: 10px;
  color: rgb(0, 0, 0);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
  font-weight: 500;
  background: linear-gradient(215deg, rgba(231,176,137,1) 11%, rgba(210,173,255,1) 100%);
  word-wrap: break-word;
  display: flex;
  hyphens: auto;
}
