<div class="form-container">
  <form
    [formGroup]="signInForm"
    (ngSubmit)="onSubmit()"
    id="login"
    class="form"
  >
    <div>
      <mat-form-field appearance="fill" [style.width.px]=327>
        <mat-label>Enter your email</mat-label>
        <input
          matInput
          placeholder="pat@example.com"
          formControlName="email"
          id="email"
          required
        />
        <mat-error *ngIf="email.invalid">{{
          getEmailErrorMessage()
        }}</mat-error>
      </mat-form-field>
    </div>

    <mat-form-field appearance="fill" [style.width.px]=327>
      <mat-label>Enter your password</mat-label>
      <input
        matInput [type]="hide ? 'password' : 'text'"
        placeholder="password"
        formControlName="password"
        id="password"
        required
      />
      <mat-error *ngIf="password.invalid">{{
        getPasswordErrorMessage()
      }}</mat-error>
       <span mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
       </span>
    </mat-form-field>
    <div class="text-center mt-2">
      <button type="submit" mat-raised-button color="primary">Submit</button>
    </div>
  </form>
</div>
