

.form-control {
  width: auto;
}


.form-box {
  width: 100%;
}


.notes-container {
  margin: 0 auto;
  display: flex;
  align-content: start;
  justify-content: start;
  flex-wrap: wrap;
  hyphens: auto;
  height: 800px;
  padding-right: 30px;
}

.notes {
  width: 200px;
  min-height: 200px;
  padding: 10px;
  margin: 10px;
  color: rgb(0, 0, 0);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
  font-weight: 500;
  background: linear-gradient(215deg, rgba(231,176,137,1) 11%, rgba(210,173,255,1) 100%);
  word-wrap: break-word;
  display: flex;
  hyphens: auto;

}

.iconbox {
  width: 200px;
  height: 42px;
  display:flex;
  background-color: rgb(149, 230, 233);
  justify-content: flex-end;
  margin:10px;
  margin-bottom: -10px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);

}

.icon{
  cursor: pointer;
  margin:10px;
}

.container-form {
  display: flex;
  width: 220px;
}

.align-container {
  width: 800px;
  display: flex;
}

.col-6 {
  //width: 400px;
  margin: 10px;
}

.align {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}



.row m-4 {
  margin: 2px;
  flex-wrap: nowrap;
}

p {
  margin: 0;
  padding: 0;
}

.btn-group{
  margin: 0;
  width: 200px;
}

label.btn.btn-primary {
  --bs-btn-color: #fff !important;
  --bs-btn-bg: #b78bd1;
  --bs-btn-border-color: #a57dbd;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #8f6ba3;
  --bs-btn-hover-border-color: #ca97e5;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #e7aa59;
  --bs-btn-active-border-color: #e9cba5;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #e7aa59;
  --bs-btn-disabled-border-color: #e9cba5;
}
