.square-container {
    display: flex;
    flex-direction: row;
  }
  
  .one {
    width: 100px;
    height: 100px;
    background-color: rgb(193, 131, 185);
  }
  
  .two {
    width: 100px;
    height: 100px;
    background-color: rgb(194, 151, 185);
  }
  
  .three {
    width: 100px;
    height: 100px;
    background-color: rgb(193, 161, 185);
  }